.search-div {
    position: fixed;
    top: 25px;
    z-index: 2;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    background-color: rgba(238, 241, 244, 0.853);
    max-height: 550px;
    overflow: auto;
    right: 2%;
}

.search-input {
    background-color: rgba(238, 241, 244, 0.853);
    border: 1px solid hsl(0, 0%, 80%);
    width: 484px;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
}
.search-li{
padding-left: 15px;}
.search-ul {
    list-style: none;
    padding: 0;
}

h6 {
    margin: 0;
    cursor: pointer;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
}


.sticky-search {
    position: sticky;
    top: 0;
    background-color: white; /* You can adjust the background color as needed */
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  }
  
  .search-icon {
    margin-right: 8px;
  }

  @media screen and (max-width: 1024px) {
    
    .search-input{
        width: 300px;
        height: 25px;
    }
}