.course-list-div {
    position: fixed;
    top: 30%;
    padding-left: 24px;
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.course-pagination {
    /* position: fixed;
    top: 89%;
    left: 25%; */
}
.course-pagination-div{
    position: fixed;
    top: 89%;
    width: 100%;
}
.course-box {
    background-color: rgba(253, 253, 253, 0.67);
    border-radius: 20px;
    padding: 10px 30px;
    width: 360px;
    height: 440px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.55);

}

.course-box:hover {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.course-description {
    height: 230px;
    overflow: auto;
    font-size: 14px;
}

.course-button-div {
    display: flex;
    justify-content: space-around;

}

.course-heading-div {
    min-height:
        85px;
}

.course-heading {
    margin: 0;
    font-size: 16px;
}

.course-logo {
    width: 25px;
    height: 25%;
}

.course-pagination-component {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.course-pagination-component li {
    margin: 0 5px;
}

.course-pagination-component a {
    text-decoration: none;
    color: #656565;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000
}

.course-pagination-component a:hover {
    background-color: #687a8e;
    color: #fff;
    border-color: #687a8e;
}

.course-pagination-component .previous,
.course-pagination-component .next {
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #000
}

.course-pagination-component .previous:hover,
.course-pagination-component .next:hover {
    background-color: #687a8e;
    color: #fff;
    border-color: #687a8e;
}

.course-pagination-component .break {
    margin: 0 5px;
    font-weight: bold;
}

.filter-names {
    position: fixed;
    top: 25px;
    left: 30px;
}

.filter-names input[type="checkbox"] {
    margin-right: 5px;
}

.filter-select {
    background-color: #dbdbdb;
    height: 60px;
    min-width: 700px;
}

.css-vdopia-DropDown {
    width: 802px !important;
}

.css-jznujr-ContentComponent {
    max-width: 760px !important;
}

.glow-plus-button {
    margin-left: 8px;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.glow-on-hover {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(45deg,
            #00ffd5,
            #ff00c8,
            #ff0000,
            #ffa07a,
            #ffff00,
            #008080);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media screen and (max-width: 1670px) {
    .course-box {

        width: 300px;
        height: 420px;

    }

    .course-pagination {

        left: 15%;
    }
}

@media screen and (max-width: 1524px) {
    .course-box {

        width: 260px;
        height: 420px;

    }

    .course-pagination {

        left: 15%;
    }
}

@media screen and (max-width: 1450px) {
    .course-box {

        width: 240px;
        height: 420px;

    }

    .course-pagination {

        left: 15%;
    }

    .css-1yofenz-DropDown {
        max-height: 141px !important;
    }
}


@media screen and (max-width: 1313px) {
    .course-box {

        width: 200px;
        height: 400px;

    }

    .course-pagination {

        left: 16%;
    }

    .filter-select {

        min-width: 400px;
    }

    .css-jznujr-ContentComponent {
        max-width: 400px !important;
    }

    .css-vdopia-DropDown {
        width: 400px !important;
    }
}

@media screen and (max-width: 1161px) {
    .course-box {

        width: 170px;
        height: 380px;

    }

    .course-pagination {

        left: 10%;
    }

    .course-description {
        height: 225px;
    }
}

@media screen and (max-width: 1024px) {
    .course-box {

        width: 150px;
        height: 360px;

    }

    .course-pagination {

        left: 8%;
    }

    .course-heading-div {
        min-height: 110px;
    }

    .course-description {
        height: 160px;
        overflow: auto;
    }

    .filter-select {
        height: 30px;
        min-width: 200px;
    }

    .css-jznujr-ContentComponent {
        max-width: 200px !important;
    }

    .css-vdopia-DropDown {
        width: 200px !important;
    }

    .search-div {
        max-height: 300px;
    }
    .search-input{
        width: 300px;
    }
}

@media screen and (max-width: 942px) {
    .course-box {
        width: 140px;
        height: 340px;

    }

    .course-pagination {

        left: 8%;
    }
}

@media screen and (max-width: 882px) {
    .course-box {

        width: 150px;
        height: 250px;

    }

    .course-pagination {

        left: 0%;
    }

    .course-heading-div {
        min-height: 81px;
    }

    .course-description {
        height: 71px;
        overflow: auto;
    }

    .course-list-div {

        top: 15%;

    }

    .course-pagination-component li {
        margin: 0px;
    }
}